.DS_Store
__pycache__/
*.pyc
.idea/
.ipynb_checkpoints/
# Ignore content unless it's a CSV
content/**/*
!content/
!content/*/
!content/**/*.csv
source/
venv/
projects/marshall_daily/content/*/img_fpt/
projects/marshall_daily/content/*/img_mw/
