# System Files
.DS_Store
.idea/
.vscode/

# Python
__pycache__/
*.pyc
venv/
.venv/

# Raw Data (Don't commit massive scrape history)
!data/raw/.gitkeep
data/raw/**/*.png
data/raw_legacy/
Market Promotion/
legacy/data_archive/

# Logs and Temp
data/logs/
*.log

# Old Structure (Clean up later)
content/
projects/marshall_daily/content/*/img_fpt/
projects/marshall_daily/content/*/img_mw/

projects/marshall_daily/content/*/img_fpt/

data/raw/*/img_fpt
data/raw/*/img_mw

projects/marshall_daily/content/*/img_mw/

# IMPORTANT: Keep AI Experiments & Models
!experiments/
!experiments/fine_tuning/data/
!experiments/fine_tuning/adapters/
experiments/fine_tuning/adapters_llama/*_adapters.safetensors
